<tr id="<%= 'endpoint-' + endpoint.id.to_s %>" class="data-row editable">
	<td class="rest-url"><%= link_to endpoint.method_type + ' ' + endpoint.url, [@project,endpoint] %></td>
	<td class="description">
		<span><%= replace_model_link(endpoint.description, @project).html_safe %></span>
	</td>
    <td>
      <div class="edit-btn-div v-hidden">
        <%= link_to 'Edit', 'javascript:;', class: 'edit-btn' %><br>
        <%= link_to 'Delete', [@project,endpoint], method: :delete, remote: true %>
      </div>
    </td>
</tr>
<tr id="<%= 'edit-endpoint-' + endpoint.id.to_s %>" class="edit-row hidden editable">
  <td colspan="3">
    <%= form_for([@project,endpoint], remote:true, authenticity_token: form_authenticity_token) do |f| %>

        <div class="field">
          <%= f.text_field :method_type , class: "type-input-field" , placeholder: "Method Type" %>
          <%= f.text_field :url , class: "url-input-field" , placeholder: "URI" %>
          <%= f.text_area :description , class: "description-input-field" , placeholder: "Description" %>
          <%= f.hidden_field :resource_id, :value => endpoint.resource_id %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>
    <button class="cancel-update">Cancel</button>
  </td>
</tr>

