<h1>Listing endpoints</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Method type</th>
      <th>Url</th>
      <th>Detail</th>
      <th>Resource</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @endpoints.each do |endpoint| %>
      <tr>
        <td><%= endpoint.description %></td>
        <td><%= endpoint.method_type %></td>
        <td><%= endpoint.url %></td>
        <td><%= endpoint.detail %></td>
        <td><%= endpoint.resource_id %></td>
        <td><%= link_to 'Edit', edit_resource_endpoint_path(@resource, endpoint) %></td>
        <td><%= link_to 'Destroy', [@resource,endpoint], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
