<h1><%=@endpoint.method_type + ' ' + @endpoint.url%></h1>

<p>
  	<strong>Description</strong><br>
  	<%= @endpoint.description %>
</p>

<p>
  	<strong>Detail</strong><br>
  	<%= @endpoint.detail %>
</p>

<p>
	<strong>Parameters</strong><br>
		<table id="parameters">
	  		<%= render @endpoint.parameters %>
	  	</table>

	  	<div class="new-endpoint-container hidden">
		    <div width="100%" height="50px">
		      <%= form_for([@endpoint, Parameter.new], remote:true) do |f| %>
		        <div class="field">
		            <%= f.text_field :name %>
		            <%= f.text_field :example_value %>
		            <%= f.text_field :description %>
		        </div>
		        <div class="actions">
		        	<%= f.submit %>
		        </div>
		      <% end %>
		    </div>
		</div>

		<button class="new-endpoint-btn">New Parameter</button>

</p>