<% javascript_include_tag "application" %>

<div id="global-container">
  <h1><%= @project.name %></h1>
  <div class="new-form-container hidden">
      <%= form_for([@project, Resource.new], remote:true) do |f| %>
          <div class="field">
            <%= f.text_field :name %>
            <%= f.text_field :description %>
          </div>
          <div class="actions">
            <%= f.submit %>
        </div>
      <% end %>
      <button class="cancel-creation">Cancel</button>
  </div>
   <button class="new-row-btn">New Resource</button>
  <div id="resources">
    <%= render @project.resources %>
  </div>
</div>
