<%= div_for resource do %>
  	<table>
	  <caption>
	    <strong><%=resource.name%></strong> <!-- <%= link_to 'Show', resource %> <%= link_to 'Edit', edit_resource_path(resource) %> <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %> -->
	    <br><%=resource.description%>
	  </caption>
	  <thead>
	    <tr>
	      <th>
	        Endpoints        
	      </th>
	      <th>
	        Description        
	      </th>
	    </tr>
	  </thead>
	  <tbody class="endpoints">
	  	<%= render resource.endpoints %>
	  </tbody>
	</table>
	<br>
	<div class="new-endpoint-container hidden">
	    <div width="100%" height="50px">
	      <%= form_for(Endpoint.new, remote:true) do |f| %>
	        <div class="field">
	            <%= f.text_field :method_type %>
	            <%= f.text_field :url %>
	            <%= f.text_field :description %>
	            <%= f.hidden_field :resource_id, :value => resource.id %>
	        </div>
	        <div class="actions">
	        	<%= f.submit %>
	        </div>
	      <% end %>
	    </div>
	</div>
	<button class="new-endpoint-btn">New Endpoint</button>
	<br>
	<br>
	<br>
<% end %>