<%= div_for resource do %>
  	<table>
	  <caption class="resource-title">
        <div id="<%= 'resource-' + resource.id.to_s %>" class="editable">
            <div>
                <strong class="name"><%=resource.name%></strong> <!-- <%= link_to 'Show', [@project,resource] %> <%= link_to 'Edit', edit_project_resource_path(@project.id, resource.id) %> <%= link_to 'Destroy', [@project,resource], method: :delete, data: { confirm: 'Are you sure?' } %> -->
                <br><span class="description"><%=resource.description%></span>
            </div>
            <div class="edit-btn-div v-hidden">
                <%= link_to 'Edit', 'javascript:;', class: 'edit-btn' %><br>
                <%= link_to 'Delete', [@project,resource], method: :delete, remote: true %>
            </div>
        </div>
        <div id="<%= 'edit-resource-' + resource.id.to_s %>" class="hidden editable">
          <%= form_for([@project, resource], remote:true, authenticity_token: form_authenticity_token) do |f| %>

              <div class="field">
                <%= f.text_field :name , class: 'type-input-field' , placeholder: 'Name' %>
                <%= f.text_area :description , class: 'description-input-field' , placeholder: 'Description' %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
          <% end %>
          <button class="cancel-creation">Cancel</button>
        </div>
	  </caption>
	  <thead>
	    <tr>
	      <th>
	        Endpoints        
	      </th>
	      <th>
	        Description        
	      </th>
          <th>
          </th>
	    </tr>
	  </thead>
	  <tbody class="endpoints">
	  	<%= render resource.endpoints %>
	  </tbody>
	</table>
	<div class="new-form-container hidden">
	      <%= form_for([@project,Endpoint.new], remote:true, authenticity_token: form_authenticity_token) do |f| %>
	        <div class="field">
	            <%= f.text_field :method_type , class: "type-input-field" , placeholder: "Method Type" %>
	            <%= f.text_field :url , class: "url-input-field" , placeholder: "URI" %>
	            <%= f.text_area :description , class: "description-input-field" , placeholder: "Description" %>
	            <%= f.hidden_field :resource_id, :value => resource.id %>
	        </div>
	        <div class="actions">
	        	<%= f.submit %>
	        </div>
	      <% end %>
	      <button class="cancel-creation">Cancel</button>
	</div>
	<button class="new-row-btn">New Endpoint</button>
	<br>
	<br>
	<br>
<% end %>