<% javascript_include_tag "application" %>

<h1>Restful API</h1>

<div style="margin: 0 auto 0 auto; width:800px;">
  <div class="new-resource-container">
      <div width="100%" height="50px">
        <%= form_for(Resource.new, remote:true) do |f| %>
            <div class="field">
              <%= f.text_field :name %>
              <%= f.text_field :description %>
            </div>
            <div class="actions">
              <%= f.submit %>
          </div>
        <% end %>
      </div>
  </div>

  <div id="resources">
    <%= render @resources %>
  </div>
</div>
