<% javascript_include_tag "application" %>

<h1>Restful API</h1>

<div id="global-container">
  <div class="new-form-container hidden">
      <%= form_for(Resource.new, remote:true) do |f| %>
          <div class="field">
            <%= f.text_field :name %>
            <%= f.text_field :description %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
      <% end %>
      <button class="cancel-creation">Cancel</button>
  </div>
  <button class="new-row-btn">New Resource</button>
  <div id="resources">
    <%= render @resources %>
  </div>
</div>
